				</div>
				<div class="col-sm-2 sidenav"></div>
			</div>
		</div>

		<footer class="container-fluid text-center">
			<address>
				<p>Este aplicativo foi feito por Thiago Molina</p>
			</address>
		</footer>
		<%- script %>
  </body>
</html>
