<%- include('header') -%>
					<h1><%= title %></h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Nasc</th>
								<th scope="col">CPF</th>
								<th scope="col">Sexo</th>
							</tr>
						</thead>
						<tbody>
							<% docs.forEach(function(passageiro){ %>
							<tr>
								<td><%= passageiro.nome %></td>
								<td><%= passageiro.nascimento %></td>
								<td><%= passageiro.cpf %></td>
								<td><%= passageiro.sexo %></td>
							</tr>
							<% }) %>
						</tbody>
					</table>
					<hr>
					<a href="/new-passageiros" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
						Insira um Passageiro
					</a>
<%- include('footer') -%>
