<%- include('header') -%>
					<h1><%= title %></h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Motorista</th>
								<th scope="col">Passageiro</th>
								<th scope="col">Valor</th>
							</tr>
						</thead>
						<tbody>
							<% docs.forEach(function(corrida){ %>
							<tr>
								<td><%= corrida.motorista.nome %></td>
								<td><%= corrida.passageiro.nome %></td>
								<td><%= corrida.valor %></td>
							</tr>
							<% }) %>
						</tbody>
					</table>
					<hr>
					<a href="/new-corridas" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
						Insira uma Corrida
					</a>
<%- include('footer') -%>
