<%- include('header') -%>
					<h1><%= title %></h1>
					<p>Clique no status do motorista, se quiser altera-lo (para inativo,
					ou, de inativo para ativo).</p>
					<p>Isto é util, para controlar saidas de ferias.</p>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Nasc</th>
								<th scope="col">CPF</th>
								<th scope="col">Carro</th>
								<th scope="col">Sexo</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<% docs.forEach(function(motorista){ %>
							<tr>
								<td><%= motorista.nome %></td>
								<td><%= motorista.nascimento %></td>
								<td><%= motorista.cpf %></td>
								<td><%= motorista.carro %></td>
								<td><%= motorista.sexo %></td>
								<td>
									<a href="/edit-motorista/<%= motorista._id %>/<%= motorista.ativo %>">
								<% if (motorista.ativo == 1) { %>
									Ativo</a>
								<% } else { %>
									Inativo</a>
								<% } %>
								</td>
							</tr>
							<% }) %>
						</tbody>
					</table>
					<hr>
					<a href="/new-motoristas" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
						Insira um Motorista
					</a>
<%- include('footer') -%>
