<%- include('header') -%>
					<h1><%= title %></h1>
					<p>An app made as a test, for a job. What it does is register drivers, 
					passengers and races, and list the same. In addition to changing the 
					status of drivers, when they leave on vacation</p>
					<hr />
					<h3>technologies</h3>
					<p>This application was made with the following technologies</p>
					<ul>
						<li>NodeJS</li>
						<li>Express</li>
						<li>Bootstrap</li>
						<li>MongoDB</li>
					</ul>
					<p>It's open source, and it's waiting for collaboration. It can be used 
					however it chooses, besides being modified for other purposes. In other 
					words, it serves as a model</p>
					<p>Although the description is in English, this application works (from 
					the next pages) in Brazilian Portuguese</p>
<%- include('footer') -%>
