<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Toba</title>
	</head>
	<body>
		<a href="/edit-motorista/<%= motorista._id %>">Ativo</a>
		<a href="/edit-motorista/<%= motorista._id %>">Ativo</a>
	</body>
</html>
