<%- include('header') -%>
					<h1><%= title %></h1>
					<form id="myForm" class="form-horizontal" action="/new-corridas" method="post">

						<div class="form-group"> 
							<label class="control-label col-sm-2" for="motorista">Motorista:</label>
							<div class="col-sm-10">
								<select class="selectpicker form-control" id="motorista">
								</select>
							</div>
						</div>

						<div class="form-group"> 
							<label class="control-label col-sm-2" for="passageiro">Passageiro:</label>
							<div class="col-sm-10">
								<select class="selectpicker form-control" id="passageiro">
								</select>
							</div>
						</div>

						<div class="form-group"> 
							<label class="control-label col-sm-2" for="valor">Valor:</label>
							<div class="col-sm-10">
								<input type="number" name="valor" step="0.01" class="form-control">
							</div>
						</div>

						<input type="hidden" name="motorista_id" value="O">
						<input type="hidden" name="motorista_nome" value="L">
						<input type="hidden" name="passageiro_id" value="H">
						<input type="hidden" name="passageiro_nome" value="O">

						<div class="form-group"> 
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Enviar</button>
							</div>
						</div>

					</form>
<%- include('footer') -%>
