<%- include('header') -%>
					<h1><%= title %></h1>
					<form id="myForm" class="form-horizontal" action="/new-motoristas" method="post">

						<div class="form-group">
							<label class="control-label col-sm-2" for="nascimento">Nascimento:</label>
							<div class='input-group date col-sm-10' id='datetimepicker10'>
								<input type='text' class="form-control" name="nascimento" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="nome">Nome:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" 
								name="nome" placeholder="Nome do <%= title %>"> 
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="cpf">CPF:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" 
								name="cpf" placeholder="CPF do <%= title %> só numeros">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-2" for="carro">Carro:</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" 
								name="carro" placeholder="Carro do <%= title %>"> 
							</div>
						</div>

						<div class="form-group"> 
							<label class="control-label col-sm-2" for="sexo">Sexo:</label>
							<div class="col-sm-10">
								<select class="selectpicker form-control" id="sexo">
									<option>M</option>
									<option>F</option>
								</select>
							</div>
						</div>

						<input type="hidden" name="ativo" value="1">
						<input type="hidden" name="sexo" value="O">

						<div class="form-group"> 
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Enviar</button>
							</div>
						</div>

					</form>
<%- include('footer') -%>
